.idea/
*.pyc
__pycache__/
utils/__pycache__/
test.data/
training/snapshot/
training/logs/
train.configs/param_all_norm.pkl*
train.configs/param_all_norm_val.pkl*
train.configs/train_aug_120x120.list.*

samples/*.mat
samples/*.ply
samples/*.txt

.ipynb_checkpoints/
tmp/

models/shape_predictor_68_face_landmarks.dat
.DS_Store

demo_obama/
todo.md

utils/cython/build
utils/cython/*.so
utils/cython/mesh_core_cython.cpp
PAF/

samples/*.obj
.vscode/
output.log
gbdt_feature/*
gbdt_param/*
important_feature.pkl
samples/*gbdt.jpg
samples/*cnn.jpg
samples/*gbdt.png
samples/*cnn.png
plot/*
important_feature.pkl
samples/test1_3DDFA.jpg
samples/test1_3DDFA_GBDT.jpg
samples/test1_depth.png
samples/test1_pncc.png
samples/test1_pose.jpg
c++/vsbuild/*

TDDFA/*
plot2/*
important_feature*.pkl
build/temp.win-amd64-3.9/Release/splitting.cp39-win_amd64.exp
build/temp.win-amd64-3.9/Release/splitting.cp39-win_amd64.lib
build/temp.win-amd64-3.9/Release/splitting.obj
splitting.cp39-win_amd64.pyd
splitting.c
res/AFLW-2000-3D/*
gbdt_feature_vdc/*.pkl
gbdt_param_vdc/*layer4_12_batch*
gbdt_param_vdc/*layer8_15_batch*
gbdt_param_vdc/*layer6_12_batch*
